<h1>{{data.status? 'Add Vehicle': 'Edit Vehicle'}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Year</mat-label>
    <input matInput [(ngModel)]=data.year>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <input matInput [(ngModel)]=data.type>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Number</mat-label>
    <input matInput [(ngModel)]=data.number>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <input matInput [(ngModel)]=data.category>
  </mat-form-field>
</div>
<div mat-dialog-content>
  <button mat-button (click)="onNoClick()" color="warn">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial color="primary">Create</button>
</div>
