<h1>{{ data.status ? "Edit Vehicle" : "Add Vehicle" }}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Year</mat-label>
    <input
      type="number"
      matInput
      [(ngModel)]="data.year"
      #message
      maxlength="4"
      required
    />
    <mat-hint align="end">{{ message.value.length }}/4</mat-hint>
    <mat-hint *ngIf="ExistError" >{{ErrorMessage}}</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <input matInput [(ngModel)]="data.type" #mesage maxlength="70" />
    <mat-hint align="end">{{ message.value.length }}/70</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Number</mat-label>
    <input
      type="number"
      matInput
      [(ngModel)]="data.number"
      #message
      maxlength="9"
    />
    <mat-hint align="end">{{ message.value.length }}/9</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <input matInput [(ngModel)]="data.category" #message maxlength="70" />
    <mat-hint align="end">{{ message.value.length }}/70</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-content>
  <button mat-button (click)="onNoClick()" color="warn">CANCEL</button>
  <button mat-button (click)="onCreateClick()" cdkFocusInitial color="primary">
    {{ data.status ? "EDIT" : "CREATE" }}
  </button>
</div>
