<mat-toolbar color="primary">
  <span>Annual motor vehicles</span>
</mat-toolbar>

<div class="container">
  <div class="table-container">
    <mat-card>
      <div class="controller-seccion">
        <div class="add-entity">
          <button
            mat-raised-button
            color="primary"
            (click)="openVehicleDialog(false)"
          >
            ADD
          </button>
        </div>
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input/>
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>Year</th>
          <td mat-cell *matCellDef="let element">{{ element.year }}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element">{{ element.category }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>Number</th>
          <td mat-cell *matCellDef="let element">{{ element.number }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef style="text-align: right;" >Actions</th>
          <td mat-cell *matCellDef="let element" align="right">
            <a href="javascript:void(0)">
              <mat-icon
                inline
                aria-hidden="false"
                aria-label="Edit"
                (click)="openVehicleDialog(true, element)"
                >edit</mat-icon
              >
            </a>
            <a href="javascript:void(0)">
              <mat-icon
                color="warn"
                inline
                aria-hidden="false"
                (click)="openDeleteDialog(element)"
                aria-label="Delete"
                >delete</mat-icon
              >
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
        aria-label="Select page of users"
      ></mat-paginator>
    </mat-card>
  </div>
</div>
